.video_box{
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    filter: brightness(0.3);
}

.article_box{
    padding-bottom: 300px;
}


.section_box{
    margin-top: 100px;

    section{

        .title{
            color: white;
            font-family: 'Nanum Gothic', sans-serif;
            font-size: 2.5rem;
            border-bottom: 1px solid white;
            padding: 15px 0;
        }

        .text_box{
            color: white;
            font-family: 'Nanum Gothic', sans-serif;
            font-size: 1.5rem;
            margin-top: 50px;
            width: 100%;
            word-wrap: break-word;
            line-height: 50px;

        }
    }

   
        
        
}