.detailes_box{
    margin-top: 100px;

    textarea{
        width: 500px;
        height: 500px;
        display: inline-block;
        margin-bottom: 100px;
    }

}

.container{
    text-align: center;
    margin-top: 100px;
}

.btn_box{

    button{
        margin: 0 30px;
    }
}