@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Serif+JP:wght@300;400;500;600;700;900&display=swap');


.global_container{
    display: block;
    width: 80%;
    height: auto;
    margin: 0 auto;
    position: relative;
}

.normal_container{
    position: relative;
    width: 100%;
    height: 100vh;
}

